#  Data Munchers

Hotel reviews project.
Positive or negative review binary classification notebook.

In [1]:
import pandas as pd

# load cleaned data
users = pd.read_csv('../Data/simple_clean_data.csv')

users.head()

,access,adult,advised,air,airport,allocated,although,anyone,apart,apologetic,...,water,week,welcome,westbahnhof,wi,wifi,wonderful,year,yet,Reviewer_Score
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,1,0,0,0,0,0,0,...,1,0,1,0,0,1,0,0,0,0